@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,1000;1,400&display=swap');

html {
    scroll-behavior: smooth;
}

.App {
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #5c2018;
    border-radius: 5px;
}
